/*-----------------------------------------------------------------------------------*/
/*	RESPONSIVE STYLES
/*-----------------------------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1199px) {

	#about .about_services {margin-right:30px; width:240px;}


}

@media (min-width: 768px) and (max-width: 991px) {
	
	.top_slider_cap {left:30px; right:30px; width:auto; margin:0;}
	
	#about h1 {margin-bottom:30px;}
	#about .about_foto {margin-right:100px;}
	#about .about_text {padding:0 0 30px;}
	#about .about_services {margin-right:30px; width:175px;}
	
	.video_bg_content .left_text {padding-bottom:40px;}
	.video_bg_content .right_text {padding-top:40px;}
	
	#facts img {width:40px; margin-right:10px;}
	#facts p {font-size:10px; line-height:15px;}
	#facts span {font-size:40px; line-height:34px;}
	
	
	
	
	.widgets_clear {display:block;}
	

}

@media (max-width: 767px) {
	
	/* Menu */
	header {position:fixed; top:0; margin:0; padding:5px 0 !important;}
	.menu_toggler {display:block; margin-top:10px; width:20px; height:20px; line-height:20px; text-align:center; font-size:21px; color:#fff;}
	
	.main_menu {padding:0;}
	.main_menu ul {position:absolute; left:0; top:100%; width:100%; text-align:left; background-color:#2d3134;}
	.main_menu li {display:block; margin:0; padding:0 0 4px 30px;}
	.main_menu li:before, .main_menu li:after {display:none;}
	.main_menu li a {color:rgba(255,255,255,0.5); padding:0;}
	.main_menu li a:before {display:none;}
	.main_menu li a:hover, .main_menu li.active a {background:none; color:#fff;}
	
	
	.logo a {width:90px;}
	
	#home {margin-bottom:40px;}
	.top_slider_cap {left:30px; right:30px; width:auto; margin:0;}
	.top_slider_cap h1 {font-size:22px; line-height:22px; margin-bottom:10px;}
	.top_slider_cap h2 {font-size:18px; line-height:18px; margin-bottom:10px;}
	.top_slider_cap p {font-size:10px; line-height:15px; margin-bottom:10px; width:100%;}
	
	#about {margin-bottom:0;}
	#about h1 {margin-bottom:30px;}
	#about .about_foto {position:static; margin:0;}
	#about .about_foto img {width:100%;}
	#about .about_text {padding:0 0 30px;}
	#about .about_services {margin-right:30px; width:100%;}
	
	.video_bg_content .left_text {padding-bottom:40px;}
	.video_bg_content .right_text {padding-top:40px;}
	
	#facts img {width:40px; margin-right:10px;}
	#facts p {font-size:10px; line-height:15px;}
	#facts span {font-size:40px; line-height:34px;}
	
	#gallery .gallery_img {width:50%;}
	
	#contacts .contact_inf span {font-size:12px;}
	
	
	
	
	
	
	.widgets_clear {display:block;}
	
}

@media (max-width: 479px) {
	
	#about .about_services {width:100%; display:block; margin:0 0 30px;}
	
	#gallery .gallery_img {width:100%; float:none;}
	

	.top_slider_cap h1 {
		padding-bottom: 15px;
	}
	.top_slider_cap h2:before, .top_slider_cap h2:after{
		width: 15%;
}

	/* Bootstrap Style fix */
	.col-ss-1, .col-ss-2, .col-ss-3, .col-ss-4, .col-ss-5, .col-ss-6, .col-ss-7, .col-ss-8, .col-ss-9, .col-ss-10, .col-ss-11 {float: left;}
	.col-ss-12 {width: 100%;}
	.col-ss-11 {width: 91.66666666666666%;}
	.col-ss-10 {width: 83.33333333333334%;}
	.col-ss-9 {width: 75%;}
	.col-ss-8 {width: 66.66666666666666%;}
	.col-ss-7 {width: 58.333333333333336%;}
	.col-ss-6 {width: 50%;}
	.col-ss-5 {width: 41.66666666666667%;}
	.col-ss-4 {width: 33.33333333333333%;}
	.col-ss-3 {width: 25%;}
	.col-ss-2 {width: 16.666666666666664%;}
	.col-ss-1 {width: 8.333333333333332%;}

}


































